.about-us {


  &__header{
    position: relative;
    height: 453px;
    @include media-portrait767max{
      height: 383px;
    }
    @include media-phones375max{
      height: auto;
    }
    h2{
      position: absolute;
      color:#ffffff;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      @include media-phones375max{
        width: 100%;
        position:static;
        color:#363738;
      }
    }
  }
  &__img {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width:100%;
    height: 453px;
    @include media-portrait767max{
      height: 383px;
    }
    @include media-phones375max{
      display:none;
    }

  }

  &__fons{
    position:relative;
    z-index:-1;
    @include media-portrait767max{
      left: 318px;
    }
  }
  // .about-us__box1
  &__box1 {
    position: absolute;
    left: -100px;
    height:100%;
    width: 769px;
    border-bottom: 453px solid #0B7572;
    border-right: 276px solid transparent;

    @include media-portrait767max{
      left: -80%;
    }
    @include media-phones375max{
      display:none;
    }
  }
  // .about-us__box2
  &__box2 {
    position: absolute;
    left: 0px;
    height:100%;
    width: 769px;
    border-bottom: 453px solid rgba(11, 117, 114, 0.3);;
    border-right: 276px solid transparent;
    @include media-portrait767max{
      left: -213px;
    }
    @include media-phones375max{
      display:none;
    }
  }
  // .about-us__content
  &__content {
    margin:60px 60px 0 60px;
    display: flex;
    flex-wrap:wrap;
    @include media-portrait767max{
      width:100%;
      margin: 48px 0 0 0;
      justify-content: center;
    }
    @include media-phones375max{

    }
  }
  // .about-us__cad
  &__cad {
    display:flex;;
    height:auto;
    padding:32px;
    @media screen and (max-width:770px) and (min-width:376px) {
      width:100%;
      margin:24px 0px 24px 0px;
    }

    @media screen and (max-width:375px) {
      width:100%;
      margin:0px;
      margin-top:16px;
    }
  }
  // .about-us__cardImg
  &__cardImg {
    min-width: 80px;
    max-height: 80px;
    min-height:80px;
    max-width: 80px;
    display: flex;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    background:#E9E9EC;
    border-radius:100%;
    @media screen and (max-width:770px) and (min-width:376px) {
      margin-right: 48px;
    }

    @media screen and (max-width:375px) {
      min-width: 52px;
      max-height: 52px;
      min-height:52px;
      max-width: 52px;
      margin-right: 16px;
    }
  }
  // .about-us__cardbody
  &__cardbody {
    max-width:327px;
    h3{
      margin-bottom:8px;
      font-size: 20px;
      line-height: 135%;
    }
  }
}