.contacts {


  // .contacts__main
  &__main {
    display: flex;
    margin-top: 72px;
    @media screen and (max-width: 770px) {
      flex-direction:column;
    }
  }
  // .contacts__info
  &__info {
    max-width: 445px;
    width:100%;
    margin-bottom:64px-22px ;
  }
  // .contacts__card
  &__card {
    display: flex;
    margin:22px 0px;
      picture,
        source,
        img{
        align-self: start;
        width: 24px;
      }

  }


  // .contacts__body
  &__body {
    margin-left:36px;
  }
  // .contacts__text-card
  &__text-card {
    font-size: 14px;
    line-height: 150%;
    margin-bottom:8px;
  }
  // .contacts__card-info
  &__card-info {
    font-size: 20px;
    line-height: 24px;
  }
  // .contacts__proceedings
  &__proceedings {
    width: 100%;
    background: #F9F9FB;
    border-radius: 5px;
    padding: 40px 48px;
    @media screen and (max-width:375px){
      padding: 40px 24px;
    }
  }
  // .contacts__proceeding
  &__proceeding {
    display: flex;
    margin:16px 0px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E9EAF2;
    &:nth-last-child(1){
      border: none;
    }
    @media screen and (max-width:375px){
      display:block;
    }

  }
  // .contacts__text
  &__text {
    max-width: 230px;
    width: 100%;
    @media screen and (max-width:375px){
      margin-bottom:14px
    }
  }
  // .contacts__headmin
  &__headmin {}
}