.main-screen {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin-top: 9%;
  row-gap: 56px;
  @include media-phones375max{
    color:$white_color;
  }
  @media screen and (max-width:770px) {
    grid-template-columns: 100%;
  }
  &__head{}


  // .main-screen__textPole
  &__textPole {
    padding-right: 80px ;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include media-portrait767max{
      padding-right: 150px;
    }
    @include media-phones375max {
      padding-right: 0px ;
      gap: 32px;
    }
  }
  // .main-screen__text
  &__text {
    font-size: 16px;
    line-height: 150%;
    @include media-phones375max {
      font-size :15px;
      line-height:22.5px;
      color:$white_color;
    }
  }

  // .main-screen__slected
  &__slected {
    // .main-screen__slected_text

    &_text {
      position: relative;
      cursor:pointer;
      font-size: 16px;
      line-height: 24px;
      white-space: nowrap;
      max-width: 0px;
      border-bottom: 3px solid #FFCE50;
      word-wrap: normal;
      &:hover{
        max-width: 109px;
        transition: 0.3s;
      }
      @include media-portrait767max{
        max-width: 109px;
      }

      @include media-phones375max{
        font-size :15px;
        line-height:22.5px;
        color:$white_color;
      }



    }

  }


  &__img picture,
  &__img source,
  &__img img,
  {
    position: relative;
    max-width: 635px;
    max-height: 505px;
    width: 100%;

    @include media-portrait767max{
      width: 100%;
      height: 314px;
      object-fit: cover;
      object-position: center;
    }
    @include media-phones375max{
      width: 100%;
      height: 253px;
      overflow: hidden;
      border-radius: 15px;

  }

  }
}