.stages {

  // .stages__head
  &__head {
    margin: 32px 0px;
  }
  h6{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }
  p{
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  // .stages__card
  &__card {
    display: flex;
    align-items: center;
    margin: 12px 0px;
    @media screen and (max-width: 375px) {
      margin: 8px 0px;
    }
    @media screen and (max-width: 375px) {
      margin: 7px 0px;
    }

      picture,
        source,
        img{
        width: 100%;
        object-fit: contain;
        max-width: 331px;
        @media screen and (max-width: 770px) {
          display: none;
        }
      }


  }

  &__main {
    position: relative;
    left: -32px;
    width: 100%;
    display: flex;
    align-items: center;
    background: $white_color;
    padding: 32px 2.7%;
    padding-left: 6.6%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    @media screen and (max-width: 770px) {
      padding-left: min(10%,79px) ;
    }
    @media screen and (max-width: 375px) {
      padding: 24px 32px;
      padding-left: min(11%,43px) ;
    }
  }

  $scale: 68/108;
  $scale2: 52/75;
  // .stages__circle
  &__circle {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    width: 108px;
    border-radius: 100%;
    background: $white_color;
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.12) inset;
    font-size: 38px;
    color: $white_color;

    @include media-phones375max {
      height: 75px;
      width: 76px;
      font-size: 30px;
    }
    // .stages__circle_small
    &_small {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale($scale);
      background: #0B7572;
      border-radius: 100%;
      border: 4px solid #0B7572;
      box-sizing: border-box;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
      @media screen and (max-width: 375px) {
        transform: scale($scale2);
      }
    }
  }


  // .stages__body
  &__body {
    max-width: 568px;
    padding-left: 3.8%;
  }
}