<section class="about-us">

    <div class="about-us__header">
        <h2 class="head">Почему с нами выгоднее?</h2>
        <div class="about-us__img">
            <div class="about-us__box1">
            </div>
            <div class="about-us__box2">
            </div>
            <div class="about-us__fons">
                <img src="@@webRoot/static/img/grusafik.png" height="453" width="1040" alt="">
            </div>
        </div>
    </div>

    <div class="about-us__content">
        <article class="about-us__cad">
            <div class="about-us__cardImg">
                <img src="@@webRoot/static/img/factory.svg" width="92" height="92" loading="lazy" alt="">
            </div>
            <div class="about-us__cardbody">
                <h3 class="head">Lorem ipsum dolor sit amet</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.</p>
            </div>
        </article>
        <article class="about-us__cad">
            <div class="about-us__cardImg">
                <img src="@@webRoot/static/img/factory.svg" width="92" height="92" loading="lazy" alt="">
            </div>
            <div class="about-us__cardbody">
                <h3 class="head">Lorem ipsum dolor sit amet</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.</p>
            </div>
        </article>
        <article class="about-us__cad">
            <div class="about-us__cardImg">
                <img src="@@webRoot/static/img/factory.svg" width="92" height="92" loading="lazy" alt="">
            </div>
            <div class="about-us__cardbody">
                <h3 class="head">Lorem ipsum dolor sit amet</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.</p>
            </div>
        </article>
        <article class="about-us__cad">
            <div class="about-us__cardImg">
                <img src="@@webRoot/static/img/factory.svg" width="92" height="92" loading="lazy" alt="">
            </div>
            <div class="about-us__cardbody">
                <h3 class="head">Lorem ipsum dolor sit amet</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.</p>
            </div>
        </article>
    </div>
</section>