<section class="client-logo ">
    <h2 class="client-logo__head">Нам доверяют</h2>
    <div class="client-logo__swiper" id = 'swiper-client-logo'>
        <div class="client-logo__body ">
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>
            <article class="client-logo__card">
                <div class="client-logo__img">
                    <img src="@@webRoot/static/img/logotip-rosatom%201.png" alt="">
                </div>
                <h4 class="">Росатом</h4>
                <p class="text client-logo_text">Корпорация атомной энергии</p>
            </article>

        </div>
    </div>

    <div class="pagination pagination__sliderbuttons ">
        <div id="swiper-client-logo-pagination"   class="swiper-pagination  swiper-pagination pagination__pagination">
        </div>
    </div>
</section>