<section class="clients">

        <h2 class="head clients__head">Привлеченные клиенты</h2>

    <div class="clients__lefts ">
        <div class="clients__header">
            <div class="clients__logo">
                <img src="@@webRoot/static/img/logo.png" alt="">
            </div>
            <p class="text clients__text">
                ООО "ПДВ" ИНН 7329023100 КПП 732901001
                433405, Ульяновская обл., Территория Портовой особой Экономической зоны, Проезд Первых Резидентов 3  Телефон: +7 8422 99 666 5 e-mail: info@pdv.ooo
            </p>
        </div>
        <table class="table">
            <tr class="table__heads">
                <th>Фото</th>
                <th>Название</th>
                <th>Производитель</th>
                <th>Контакт</th>
                <th class="clients__mobils">Клиент №1</th>
            <tr>
                <td>
                    <img src="@@webRoot/static/img/motor.png" alt="">
                </td>
                <td>
                    <p class="text table__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
                    </p>
                    <p class="selected_text table__selected">120 000 руб.
                    </p>
                </td>
                <td>
                    <h4 class="head table__head">Завод “Hlobalkhim”</h4>
                    <p class="text table__text">г. Москва, проспект Кутузовский, д. 12 стр. 1 этаж, пом. 1
                    </p>
                    <div class="estimation"></div>
                </td>
                <td>
                    <h4 class="head table__head">Коваль Иван Борисович</h4>
                    <p class="text table__text">Руководитель отдела поставок</p>
                    <p class="text clients__nemper">+ 7 (495) 765 33 22</p>
                </td>
                <td class="clients__mobils">
                    <div class="table__header">
                        <div class="table__img"><img src="@@webRoot/static/img/motor.png" alt=""></div>
                        <p class="text table__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.
                        </p>
                    </div>
                    <div class="table__main">

                        <h5 class="head table__head">Завод “Hlobalkhim”</h5>
                        <p class="text table__text">
                            г. Москва, проспект Кутузовский, д. 12 стр. 1 этаж, пом. 1
                        </p>
                        <div class="estimation"></div>
                    </div>
                    <div class="table__main">
                        <h5 class="head table__head">Коваль Иван Борисович</h5>
                        <p class="text table__text">
                            Руководитель отдела поставок
                        </p>
                        <p class="text table__nemper">+ 7 (495) 765 33 22</p>
                    </div>

                </td>

        </table>
    </div>
</section>