<section class="contacts">
    <h2 >Наши контакты</h2>
    <div class="contacts__main">
        <div class="contacts__info">
            <article class="contacts__card">
                <img src="@@webRoot/static/img/icons/phone.svg" width="19" height="19" loading="lazy" alt="">

                <div class="contacts__body">
                    <p class="text contacts__text-card">Телефон</p>
                    <p class="head contacts__card-info">+7 8422 99 666 5</p>
                </div>
            </article>
            <article class="contacts__card">
                <img src="@@webRoot/static/img/icons/phone.svg" width="19" height="19" loading="lazy" alt="">

                <div class="contacts__body">
                    <p class="text contacts__text-card">Телефон</p>
                    <p class="head contacts__card-info">+7 8422 99 666 5</p>
                </div>
            </article>
            <article class="contacts__card">
                <img src="@@webRoot/static/img/icons/phone.svg" width="19" height="19" loading="lazy" alt="">

                <div class="contacts__body">
                    <p class="text contacts__text-card">Телефон</p>
                    <p class="head contacts__card-info">+7 8422 99 666 5</p>
                </div>
            </article>
            <article class="contacts__card">
                <img src="@@webRoot/static/img/icons/phone.svg" width="19" height="19" loading="lazy" alt="">

                <div class="contacts__body">
                    <p class="text contacts__text-card">Телефон</p>
                    <p class="head contacts__card-info">+7 8422 99 666 5</p>
                </div>
            </article>
        </div>
        <div class="contacts__proceedings">
            <div class="contacts__proceeding">
                <p class="text contacts__text">Полное наименование::</p>
                <p class="head contacts__headmin">ООО "Поставщик Дальнего Востока"</p>
            </div>
            <div class="contacts__proceeding">
                <p class="text contacts__text">ИНН:</p>
                <p class="head contacts__headmin">7329023100</p>
            </div>
            <div class="contacts__proceeding">
                <p class="text contacts__text">КПП:</p>
                <p class="head contacts__headmin">732901001</p>
            </div>
            <div class="contacts__proceeding">
                <p class="text contacts__text">ОГРН:</p>
                <p class="head contacts__headmin">1167325074762</p>
            </div>
            <div class="contacts__proceeding">
                <p class="text contacts__text">Адрес:</p>
                <p class="head contacts__headmin">Россия, Ульяновская обл, территория Портовой Особой Экономической Зоны, проезд Первых Резидентов дом 3
                </p>
            </div>

        </div>
    </div>
</section>