<head>
    <meta charset="UTF-8">
    <title>Поставщик Дальнего Востока</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using gulp"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="@@webRoot/static/css/main.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script defer src="@@webRoot/static/js/main.js"></script>
    <link  fetchpriority = 'high'  rel="preload" as="image" href="@@webRoot/static/img/adir-Cargo-Insurance%201.webp">
</head>