<section class="movie-block">
    <h2 >
        Видео о нашей работе
    </h2>
    <p class="text movie-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit duis tristique sollicitudin nibh sit amet. Ultrices eros in cursus turpis massa tincidunt. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Pharetra convallis posuere morbi leo urna. Eget sit amet tellus cras adipiscing. </p>
    <video class="movie-block__video" controls="controls" poster="@@webRoot/static/img/poster.png">

    </video>
</section>