<section class="our-team">
    <h2>Сотрудники компании</h2>
    <div class="our-team__main">
        <article class="our-team__card">
            <div class="our-team__img">
                <img src="@@webRoot/static/img/foto.png"    width="138" height="138" loading="lazy" alt="">
            </div>
            <div class="our-team__body">
                <h4 class="head our-team__headmin">Елена Валерьева</h4>
                <p class="text our-team__text">Руководитель компании</p>
                <div class=" our-team__perecarotks"></div>
                <div class="our-team__icons">
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/instagram.png" width="22" height="22" loading="lazy" alt="instagram"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/Vk.png" width="39" height="22" loading="lazy" alt="VK"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/linkedin.png" width="22" height="22" loading="lazy" alt="linkedin"></a></a>
                    </div>
                </div>
            </div>
        </article>
        <article class="our-team__card">
            <div class="our-team__img">
                <img src="@@webRoot/static/img/foto.png" width="138" height="138" loading="lazy" alt="">
            </div>
            <div class="our-team__body">
                <h4 class="head our-team__headmin">Елена Валерьева</h4>
                <p class="text our-team__text">Руководитель компании</p>
                <div class="our-team__perecarotks"></div>
                <div class="our-team__icons">
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/instagram.png" width="22" height="22" loading="lazy" alt="instagram"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/Vk.png" width="39" height="22" loading="lazy" alt="VK"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/linkedin.png" width="22" height="22" loading="lazy" alt="linkedin"></a></a>
                    </div>
                </div>
            </div>
        </article>
        <article class="our-team__card">
            <div class="our-team__img">
                <img src="@@webRoot/static/img/foto.png" width="138" height="138" loading="lazy" alt="">
            </div>
            <div class="our-team__body">
                <h4 class="head our-team__headmin">Елена Валерьева</h4>
                <p class="text our-team__text">Руководитель компании</p>
                <div class="our-team__perecarotks"></div>
                <div class="our-team__icons">
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/instagram.png" width="22" height="22" loading="lazy" alt="instagram"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/Vk.png" width="39" height="22" loading="lazy" alt="VK"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/linkedin.png" width="22" height="22" loading="lazy" alt="linkedin"></a></a>
                    </div>
                </div>
            </div>
        </article>
        <article class="our-team__card">
            <div class="our-team__img">
                <img src="@@webRoot/static/img/foto.png" width="138" height="138" loading="lazy" alt="">
            </div>
            <div class="our-team__body">
                <h4 class="head our-team__headmin">Елена Валерьева</h4>
                <p class="text our-team__text">Руководитель компании</p>
                <div class="perecarotks our-team__perecarotks"></div>
                <div class="our-team__icons">
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/instagram.png" width="22" height="22" loading="lazy" alt="instagram"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/Vk.png" width="39" height="22" loading="lazy" alt="VK"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/linkedin.png" width="22" height="22" loading="lazy" alt="linkedin"></a></a>
                    </div>
                </div>
            </div>
        </article>
        <article class="our-team__card">
            <div class="our-team__img">
                <img src="@@webRoot/static/img/foto.png" width="138" height="138" loading="lazy" alt="">
            </div>
            <div class="our-team__body">
                <h4 class="head our-team__headmin">Елена Валерьева</h4>
                <p class="text our-team__text">Руководитель компании</p>
                <div class="our-team__perecarotks"></div>
                <div class="our-team__icons">
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/instagram.png" width="22" height="22" loading="lazy" alt="instagram"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/Vk.png" width="39" height="22" loading="lazy" alt="VK"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/linkedin.png" width="22" height="22" loading="lazy" alt="linkedin"></a></a>
                    </div>
                </div>
            </div>
        </article>
        <article class="our-team__card">
            <div class="our-team__img">
                <img src="@@webRoot/static/img/foto.png" width="138" height="138" loading="lazy" alt="">
            </div>
            <div class="our-team__body">
                <h4 class="head our-team__headmin">Елена Валерьева</h4>
                <p class="text our-team__text">Руководитель компании</p>
                <div class="our-team__perecarotks"></div>
                <div class="our-team__icons">
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/instagram.png" width="22" height="22" loading="lazy" alt="instagram"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/Vk.png" width="39" height="22" loading="lazy" alt="VK"></a>
                    </div>
                    <div class="our-team__contact">
                        <a href="#"><img src="@@webRoot/static/img/linkedin.png" width="22" height="22" loading="lazy"  alt="linkedin"></a></a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>