<section class="our-work">
    <h2 class="our-work__head">Выполненные работы</h2>
    <p class="text">Мы собрали информацию по грузам, которые мы уже доставили.У нас специальный подход к каждому виду товаров.</p>
    <div class="swiper-container sliderOne">
        <div class="our-work__slider swiper-wrapper">
            <div class="our-work__card swiper-slide">
                <div class="our-work__img">
                    <img src="@@webRoot/static/img/card1.png" alt="">
                </div>
                <div class="our-work__cardBody">
                    <h3 class="head our-work__cardHead">Станки и оборудование</h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.</p>
                    <p class="selected_text our-work__selected_text">20 000 руб.</p>
                </div>
            </div>
            <div class="our-work__card swiper-slide">
                <div class="our-work__img">
                    <img src="@@webRoot/static/img/card1.png" alt="">
                </div>
                <div class="our-work__cardBody">
                    <h3 class="head our-work__cardHead">Станки и оборудование</h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.</p>
                    <p class="selected_text our-work__selected_text">20 000 руб.</p>
                </div>
            </div>
            <div class="our-work__card swiper-slide">
                <div class="our-work__img">
                    <img src="@@webRoot/static/img/card1.png" alt="">
                </div>
                <div class="our-work__cardBody">
                    <h3 class="head our-work__cardHead">Станки и оборудование</h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.</p>
                    <p class="selected_text our-work__selected_text">20 000 руб.</p>
                </div>
            </div>
            <div class="our-work__card swiper-slide">
                <div class="our-work__img">
                    <img src="@@webRoot/static/img/card1.png" alt="">
                </div>
                <div class="our-work__cardBody">
                    <h3 class="head our-work__cardHead">Станки и оборудование</h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut.</p>
                    <p class="selected_text our-work__selected_text">20 000 руб.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="pagination pagination__sliderbuttons ">
        <div id="pagination-swiper-one"  class="swiper-pagination  swiper-pagination pagination__pagination">
        </div>
    </div>
</section>