<div class="services">
    <article class="services__card">
        <img class="services__img"  src="@@webRoot/static/img/factory.svg" width="92" height="92" loading="lazy" alt="">
        <div class="services__body">
            <h3 class="head services__head">Поиск производителей по товару
            </h3>
            <p class="text services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut.</p>
        </div>
    </article>
    <article class="services__card">

        <div class="services__body">
            <img class="services__img"  src="@@webRoot/static/img/factory.svg" width="92" height="92" loading="lazy" alt="">
            <h3 class="head services__head">Поиск производителей по товару
            </h3>
            <p class="text services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut.</p>
        </div>
    </article>
    <article class="services__card">
        <img class="services__img"  src="@@webRoot/static/img/factory.svg" width="92" height="92" loading="lazy"  alt="">
        <div class="services__body">
            <h3 class="head services__head">Поиск производителей по товару
            </h3>
            <p class="text services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut.</p>
        </div>
    </article>
</div>