<section class="stages">
    <h2 class="stages__head">
        Этапы поставки
    </h2>
    <article class="stages__card">
        <div class="stages__circle">
            <div class="stages__circle stages__circle_small">
                <h4 class="head stages__head stages__head_circle">
                    1
                </h4>
            </div>
        </div>
        <div class="stages__main">
            <img src="@@webRoot/static/img/rykoposhatie.png" width="331" height="181" loading="lazy" width="331" height="181" loading="lazy" alt="">

            <div class="stages__body">
                <h4 class="">
                    Предложение от продавца
                </h4>
                <div class="perecarotks"></div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit duis tristique sollicitudin nibh sit amet. Ultrices eros in cursus turpis massa tincidunt. Venenatis urna cursus eget nunc scelerisque viverra mauris in. </p>
            </div>
        </div>
    </article>
    <article class="stages__card">
        <div class="stages__circle">
            <div class="stages__circle stages__circle_small">
                <h4 class="head stages__head stages__head_circle">
                    1
                </h4>
            </div>
        </div>
        <div class="stages__main">
            <img src="@@webRoot/static/img/rykoposhatie.png" width="331" height="181" loading="lazy" alt="">

            <div class="stages__body">
                <h4 class="">
                    Предложение от продавца
                </h4>
                <div class="perecarotks"></div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit duis tristique sollicitudin nibh sit amet. Ultrices eros in cursus turpis massa tincidunt. Venenatis urna cursus eget nunc scelerisque viverra mauris in. </p>
            </div>
        </div>
    </article>
    <article class="stages__card">
        <div class="stages__circle">
            <div class="stages__circle stages__circle_small">
                <h4 class="head stages__head stages__head_circle">
                    1
                </h4>
            </div>
        </div>
        <div class="stages__main">
            <img src="@@webRoot/static/img/rykoposhatie.png" width="331" height="181" loading="lazy" alt="">

            <div class="stages__body">
                <h4 class="">
                    Предложение от продавца
                </h4>
                <div class="perecarotks"></div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit duis tristique sollicitudin nibh sit amet. Ultrices eros in cursus turpis massa tincidunt. Venenatis urna cursus eget nunc scelerisque viverra mauris in. </p>
            </div>
        </div>
    </article>
</section>