<section class="survey">
    <h2 class="survey__head">
        В какой сфере вы работаете?
    </h2>
    <p class="text survey__text">
        Мы проводим опрос среди пользователей сайта, чтобы предоставить Вам информацию соответствующую сфере Вашей деятельности.
    </p>
    <div class="survey__question">
        <div class="survey__radio">
            <input type="radio" id="check1" name="survey">
            <label for="check1">
            <h3 class="head survey__min-head">Я работаю на произвостве</h3>
            <p class="text survey__radio-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </label></div>
        <div class="survey__radio">
            <input type="radio" id="check2" name="survey"><label for="check2">
            <h3 class="head survey__min-head">Я поставляю товары</h3>
            <p class="text survey__radio-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </label></div>
        <div class="survey__radio">
            <input type="radio" id="check3" name="survey"><label for="check3">
            <h3 class="head survey__min-head">Я поставляю товары</h3>
            <p class="text survey__radio-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </label>
        </div>
    </div>
    <div class="survey__output">
        <h3 class="head survey__min-head">Проголосовало:
        </h3>
        <h1 class="head survey__output_sizeUsers">1107 <span>пользователей</span></h1>
    </div>
</section>