<section class="your-info">
    <h2 class="head your-info__head">Ваши данные </h2>
    <div class="your-info__body">
        <article class="your-info__item">
            <h4 class="head your-info__headmin">Описание задачи</h4>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elit duis tristique sollicitudin nibh sit amet. Ultrices eros in cursus turpis massa tincidunt. Venenatis urna cursus eget nunc scelerisque viverra mauris in. Pharetra convallis posuere morbi leo urna. Eget sit amet tellus cras adipiscing. </p>
        </article>
        <article class="your-info__item">
            <h4 class="head your-info__headmin">Техническое задание</h4>
            <div class="your-info__tech-plain">
                <img src="@@webRoot/static/img/icons/file.svg" width="15" height="20" loading="lazy" alt="">
                <p class="your-info__text-underlined">ТЗ_задачи.doc</p>
            </div>
        </article>
        <article>
            <h4 class=" your-info__headmin">Фотографии товара</h4>
            <div class="your-info__imgs your-info__item">
                <div class="your-info__img">
                    <img src="@@webRoot/static/img/Rectangle.png" width="175" height="136" loading="lazy" alt="">
                    <p class="text your-info__img-name">IMG12344.jpg</p>
                </div>
                <div class="your-info__img">
                    <img src="@@webRoot/static/img/Rectangle.png" width="175" height="136" loading="lazy" alt="">
                    <p class="text your-info__img-name">IMG12344.jpg</p>
                </div>
                <div class="your-info__img">
                    <img src="@@webRoot/static/img/Rectangle.png" width="175" height="136" loading="lazy" alt="">
                    <p class="text your-info__img-name">IMG12344.jpg</p>
                </div>
            </div>
        </article>

        <button class="your-info__button head">
            Подтвердить информацию
        </button>
    </div>
</section>